<img src = CodroidHubLogo.jpeg width = 200 height =200 align = "left">
<img src = PythonLogo.png width = 200 height =200 align = "right"> 
<h1 style="font-family:verdana;"> <center>ðŸ“š Module - 1: Python Variables ðŸ“š</center> </h1>
<p><h3> <center style="color:#0e9ee1; font-family:calibri;">Unlock Your Potential with CodroidHub Private Limited: Educational Solutions Tailored to you</center>

## Variable

A variable is a fundamental concept in any programming language. It is a reserved memory location that stores and manipulates data.

* Python is completely object oriented, and not "statically typed". 
* You do not need to declare variables before using them, or declare their type. 
* Every variable in Python is an object.

In [13]:
# Declare a varibale with following names: 19Codroidhub, Codroid-Hub, Codroid Hub

In [14]:
# Declaring variables of integer type with name myvariable and Myvariable. Justify answer with error

## Variable Names

A variable can have descriptive name (age, carname, total_volume). 
- Rules for Python variables:
    - A variable name must start with a letter or the underscore character
    - A variable name cannot start with a number
    - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    - Variable names are case-sensitive (age, Age and AGE are three different variables)
    - A variable name cannot be any of the Python keywords.

## Variable Nomenclature

* Camel Case  : Example - codroidHub
* Pascal Case : Example - CodroidHub
* Snake Case  : Example - codroid_hub

In [15]:
# Which nomenclature is followed in writing the variable names?

In [ ]:
# Write variable names using the 3 different nomenclatures.

In [ ]:
# Define variable of integer type with name myvariable1 and value 30 | Myvariable with 40

In [ ]:
# Is it possible to assign different values to both the variables? Why? Answer in multiline comments

In [ ]:
# Reassign "CodroidHub" as the new value to the variable - myvariable

In [ ]:
# What will happen if we assign 'CodroidHub' to the variable - myvariable?

In [ ]:
# Is there any difference between "CodroiHub" and 'CodroidHub'?

In [ ]:
# Is there any difference between "CodroiHub" and 'CodroidHub'?

In [ ]:
# Specify the type of myvariable to be string

## Assigning value/values to a variable

* Single Value - Single Variable
* Single Value - Multiple Variable
* Multiple Value - Multiple Variable
* Unpacking values - Variables

In [ ]:
# Assign 25.45 to variable "marks" which is of float type

In [ ]:
# Assign school name for following students [Amit, Sonal, Lucky, Jeetu] to "Gyan Vidhya Mandir"

In [ ]:
# Assign marks of subjects English, Hindi, Maths, Physics, Chemistry to 60,90,80,70,90

In [ ]:
# Assign Toppers List [Lucky, Jeetu, Sonal] to Rank1, Rank2, Rank3

## Printing value of Variables

* print() - often used to output variables
* print() with comma
* print() with + operator
* print() with different data types

In [ ]:
# Print the value of variable marks

In [ ]:
# Print the Rank Holders i.e Student Name with Rank1, Rank2 and Rank3 using a single print()

In [ ]:
# Print the following output: The first rank goes to "replace with student name"

In [ ]:
# Print the Rank and Total Marks of Rank1 (Case 1 - Using + operator)Justify your answer

In [ ]:
# Print the Rank and Total Marks of Rank1 (Case 1 - Using , operator)Justify your answer

## Global Variables

* Variables created outside function
* Accessible to all parts of the program

* Global Variable within function
* Global and Local Variable with same name
* Global Keyword
* Accessing Global Variable inside function

In [4]:
# Run this code to understand Global Variables
company = "CodroidHub"

def myfirstcourse():
  print("Welcome to" + company)

myfirstcourse()

WelcometoCodroidHub

In [5]:
# Mention in comment what is done in this code/ How this code differs from above one?
# Discuss about the both print() statements.
company = "CodroidHub"

def myfirstcourse():
  company = "CodroidHub Pvt. Ltd."
  print("Python is " + company)

myfirstcourse()

print("Python is " + company)

Python is CodroidHub Pvt. Ltd.
Python is CodroidHub

In [6]:
# Share your thoughts and understanding 

def myfirstcourse():
  global company
  company = "CodroidHub"

myfirstcourse()

print("Python is " + company)

Python is CodroidHub

In [1]:
# Share your thoughts and understanding 

company = "CodroidHub"

def myfunc():
  global company
  company = "CodroidHub Pvt. Ltd."

myfunc()

print("Python is " + company)


"""
Add you understanding here

"""

Python is CodroidHub Pvt. Ltd.

'\nAdd you understanding here\n\n'

#### Exercise:

The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "your name". The floating point number should be named myfloat and should contain the number 530.008, and the integer should be named myint and should contain your phone number.